#details {
    display: flex;
    justify-content: center;  
    align-items: center; 
    flex-direction: column;
    text-align: center;  
    margin-top: rem(141);
    letter-spacing: -3%;

    #details-output {
        width: 25vw;
    }

  .details {
    display: flex;
    flex-direction: column;
    align-items: center; 
    gap: 1rem;
  }

  .shortDescription {
    font-size: rem(24);
    font-weight: 500;
  }

.price-alternatives {
    gap: 1rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: row;
}

.price {
  font-size: rem(24);
  font-weight: 500;
  color: black;

  &.reduced {
    color: #CDCDCD;
    text-decoration-line: line-through;
  }
}

.priceReduced {
  font-size: rem(24);
  font-weight: 500;
  color: black;
}
}
