#home-nav {
    width: 100vw;
    height: 55vh;
    background: url("/src/images/ski-lift.jpg");

    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;

    ul {
        display: flex;
        justify-content: space-between;

        padding: rem(50);
        cursor: pointer;
    }

    li:first-child {
        font-weight: 700;
        font-size: rem(13);
        letter-spacing: -5%;
        text-transform: uppercase;
    }

    li:last-child {
        font-weight: 500;
        font-size: rem(16);
        letter-spacing: -3%;
        text-decoration: underline solid;
    }
}

section#featured-products {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;
    margin: 0 auto;


    h1 {
        font-size: rem(196);
        font-weight: 500;
        letter-spacing: -3%;
        margin-top: -6.2rem;

        padding-bottom: rem(16);
    }

    p {
        letter-spacing: -3%;
        max-width: 25vw;
    }
}