@import "tailwindcss";
@import "base";
@import "fonts";
@import "reset";

// Layout/home
@import "layout/home/home-nav";
@import "layout/home/products";

// layout/tickets
@import "layout/tickets/ticket-nav";
@import "layout/tickets/pagination";

// layout/details