@import "tailwindcss";
@import "base";
@import "fonts";
@import "reset";
@import "variables";

// Layout/home
@import "layout/home/mainnav";
@import "layout/home/title";
@import "layout/home/products";

// layout/tickets
@import "layout/tickets/pagination";

// layout/details