#product-nav {
  width: 100vw;
  height: 55vh;
  display: flex;
  flex-direction: column;

  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat;

  ul {
    display: flex;
    justify-content: space-between;

    padding: rem(50);
    cursor: pointer;    
  }
      li:first-child {
        font-weight: 700;
        font-size: rem(13);
        letter-spacing: -5%;
        text-transform: uppercase;
    }

    li:last-child {
        font-weight: 500;
        font-size: rem(16);
        letter-spacing: -3%;
        text-decoration: underline solid;
    }

  h1 {
    font-size: rem(116);
    font-weight: 500;
    letter-spacing: -3%;
    text-align: center;
    
    margin-block: auto;       
  }
}

