nav#pagination {
    width: max-content;
    margin: 0 auto;

    letter-spacing: -3%;

    #paginated-list {
        display: flex;
        margin-block: rem(100);
        gap: rem(27);

        cursor: pointer;

        li {
            opacity: 20%;
        }

        li:hover {
            opacity: 100%;
        }

        // li:nth-child(3) {
        //     padding-inline: rem(27);
        // }

        .lArrow {
            transform: scaleX(-1);
            padding-inline-start: rem(39);
        }

        .rArrow {
            padding-inline-start: rem(39);
        }

        .active {
            opacity: 100%;
        }
    }
}