   <header>
      <nav id="product-nav">
        <ul>
          <li>Tollershop</li>
          <li><a href="/tickets">Ticket Overview</a></li>
        </ul>
        <h1></h1>
      </nav>
    </header>
    <main>
        <section id="details">
        <div id="details-output"></div>

        <template id="details-template">
            <div class="details">
                <h3 class="shortDescription"></h3>
                <p class="detailledDescription"></p>
                <div class="price-alternatives">
                <p class="priceReduced"></p>
                <p class="price"></p>
                </div>
            </div>
        </template>
        </section>
    </main>