   <header>
      <nav id="mainnav">
        <ul>
          <li>Tollershop</li>
          <li><a href="/tickets">Ticket Overview</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section id="featured-products">
        <h1>Ticketshop</h1>
        <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Distinctio, cupiditate? Cum, ducimus a porro praesentium soluta aut atque exercitationem nam labore libero! Voluptatibus provident in itaque deleniti dolore beatae consectetur?</p>
      </section>
      <section id="products">
        <h2>Featured Products</h2>
        <div id="output">
        </div>

          <template id="code-block-template">
          <article class="code-wrapper">
            <button class="featured-btn">Featured</button>
            <img class="img" src="" alt="Product image">
            <div class="text">
              <h3 class="title"></h3>
              <p class="shortDescription"></p>
            <div class="price-details">
              <p class="price"></p>
              <button class="bookmark-btn"><i class="webfont webfont-bookmark"></i></button>
              <button class="details-btn">See Details</button>
            </div>
            </div>
          </article>
          </template>
      </section>
      <!-- <nav id="pagination">
        <ul id="paginated-list">
          <a href="" class="lArrow"><i class="webfont webfont-arrow"></i></a>
          <li class="active">1</li>
          <li>2</li>
          <li>3</li>
          <a href="" class="rArrow"><i class="webfont webfont-arrow"></i></a>
        </ul>
      </nav> -->
    </main>