<header>
  <nav id="ticket-nav">
    <ul>
      <li>Tickets</li>
      <li><a href="/">Ticket Overview</a></li>
    </ul>
  </nav>
</header>
<main>
  <hgroup>
    <h1>All Products</h1>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
  </hgroup>
      <section id="products">
        <div id="output">
        </div>

          <template id="code-block-template">
          <article class="code-wrapper">
            <button class="featured-btn">Featured</button>
            <img class="img" src="" alt="Product image">
            <div class="text">
              <h3 class="title"></h3>
              <p class="shortDescription"></p>
            <div class="price-details">
              <p class="price"></p>
              <button class="bookmark-btn"><i class="webfont webfont-bookmark"></i></button>
              <button class="details-btn">See Details</button>
            </div>
            </div>
          </article>
          </template>
      </section>
            <nav id="pagination">
        <ul id="paginated-list">
          <a href="" class="lArrow"><i class="webfont webfont-arrow"></i></a>
          <a href="" class="rArrow"><i class="webfont webfont-arrow"></i></a>
        </ul>
      </nav>
</main>