section#products {

    h2 {
        text-align: center;
        font-size: rem(40);
        font-weight: 500;
        letter-spacing: -3%;
        margin-top: rem(109);
    }
}

#code-block-template {
    display: flex;
    display: row;
}

.code-wrapper {
    margin-inline: rem(154);
    margin-block: rem(38) rem(250);
    border-radius: rem(12);
    overflow: hidden;
    width: fit-content;
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.09);
    position: relative;

    display: flex;
    flex-direction: column;
}

.code-wrapper img {
    width: 30vw;
    height: 30vh;
    object-fit: cover;
    object-position: center;
    display: block;
}

    .text {
        padding-block: rem(28) rem(20);   // top 28, bottom 20
        padding-inline: rem(20);    // left & right 20
     }

     .text .title {
        font-size: rem(20);
        letter-spacing: -3%;
        font-weight: 500;
     }

     .text .shortDescription {
        color: #969696;
        font-size: rem(12);
        letter-spacing: -3%;
        margin-top: rem(4);
     }

     .price-details {
        display: flex;
        justify-content: space-between;
        margin-top: rem(30);

        .price {
            font-size: rem(16);
        }

        .details-btn {
            color: white;
            background-color: black;
            padding: rem(6) rem(10);
            border-radius: rem(100);

            font-size: rem(10);
            cursor: pointer;
        }
     }
         .featured-btn {
        padding: rem(6) rem(10);
        margin: rem(14);
        position: absolute;
        background-color: #FFFFFF;
        border-radius: rem(100);

        font-size: rem(10);
        cursor: pointer;
    }

