section#products {

    h2 {
        text-align: center;
        font-size: rem(40);
        font-weight: 500;
        letter-spacing: -3%;
        margin-block: rem(109) rem(38);
    }
}

#output {
    margin-inline: rem(154);

    display: flex;
    flex-wrap: wrap;
    gap: rem(13)
}

.code-wrapper {
    margin-bottom: rem(38);
    border-radius: rem(12);
    overflow: hidden;
    width: fit-content;
    box-shadow: 0px 0px 34px 0px rgba(0,0,0,0.09);
    position: relative;

    display: flex;
    flex-direction: column;
}

.code-wrapper img {
    width: 20vw;
    height: 20vh;
    object-fit: cover;
    object-position: center;
    display: block;
}

    .text {
        padding-block: rem(28) rem(20);   // top 28, bottom 20
        padding-inline: rem(20);    // left & right 20
     }

     .text .title {
        font-size: rem(20);
        letter-spacing: -3%;
        font-weight: 500;
     }

     .text .shortDescription {
        color: #969696;
        font-size: rem(12);
        letter-spacing: -3%;
        margin-top: rem(4);
     }

     .price-details {
        display: flex;
        margin-top: rem(30);

        .price {
            font-size: rem(16);
        }

        .bookmark-btn {
            margin-left: auto;
            margin-right: rem(10);
            cursor: pointer;

            background-color: #F3F3F3;
            padding: rem(7) rem(6);
            border-radius: rem(100);
        }

        .details-btn {
            color: white;
            background-color: black;
            padding: rem(6) rem(10);
            border-radius: rem(100);

            font-size: rem(10);
            cursor: pointer;
        }
     }
         .featured-btn {
        padding: rem(6) rem(10);
        margin: rem(14);
        position: absolute;
        background-color: #FFFFFF;
        border-radius: rem(100);

        font-size: rem(10);
    }

