// px to em
@function pem($px, $base: 16) {
  @return calc($px / $base) + em;
}

// px to rem
@function rem($px, $base: 16) {
  @return calc($px / $base) + rem;
}

// breakpoint boilerplate
@mixin breakpoint($min, $max: 0) {
  @if $max == 0 {
    @media ( min-width: rem($min) ) {
      @content
    }
  } @else {
    @media ( min-width: rem($min) ) and ( max-width: rem($max) ) {
      @content
    }
  }
}

@mixin hidden {
  display: none;
  visibility: hidden;
}

.hidden {
  @include hidden;
}


@mixin show {
  display: block;
  visibility: visible;
}

.show {
  @include show;
}

@mixin maxwidth {
  margin-inline: auto;
  width: 100%;
  max-width: min(90vw, 100rem);
}

@mixin contentwidth {
  margin-inline: auto;
  inline-size: 90vw;
  max-inline-size: min(90vw, 100rem);;
}